<%- include('template/header') %>

<div class="main-container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% usuarios.forEach(usuario => { %>
              <div class="swiper-slide">  

                <div class="form-container-usuario">
                    <% if (usuario.id_rol == 1) { %>
                    <div class="circle">
                    <span class="blue box"></span>
                    </div>
                    <% } else if (usuario.id_rol == 2) { %>
                    <div class="circle">
                    <span class="purple box"></span>
                    </div>
                    <% } else { %>
                    <div class="circle">
                    <span class="yellow box"></span>
                    </div>
                    <% } %>

                    <p class="title"></p>

                    <div class="input-group field">
                    <label for="rol">Rol del trabajador</label>
                    <% if (usuario.id_rol == 1) { %>
                    <p class="">Empleado</p>
                    <% } else if (usuario.id_rol == 2) { %>
                    <p class="">Manager</p>
                    <% } else { %>
                    <p class="">Recursos Humanos</p>
                    <% } %>
                    </div>

                    <div class="input-group field">
                    <label for="nombre">Nombre del funcionario</label>
                    <p><%= usuario.nombre %></p>
                    </div>

                    <div class="input-group field">
                    <label for="nombre">Identificacíon del trabajador</label>
                    <p><%= usuario.identificacion %></p>
                    </div>
                </div>
                
            </div>
        <% }) %>
      </div>
  
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

<%- include('template/footer') %>