<%- include('template/header') %>

    <% if (msg && typeof msg === 'string' && msg.trim() !== '') { %>
        <div id="toast" class="toast centered"><%= msg %></div>
        <script>
        window.addEventListener('DOMContentLoaded', function () {
            const toast = document.getElementById('toast');
            toast.classList.add('show');
            setTimeout(() => {
            toast.classList.remove('show');
            }, 4000);
        });
        </script>   
    <% } %>

    <div class="container-login">

        <div class="form-container">

            <p class="title">Inicio de sesión</p>

            <form class="form" action="/login" method="post">

                <div class="input-group">
                    <label for="identificacion">Identificación</label>
                    <input type="text" name="identificacion" id="identificacion" value="<%= data?.identificacion || ''%>">
                </div>

                <div class="input-group">
                    <label for="contrasenia">Contraseña</label>
                    <input type="password" name="contrasenia" id="contrasenia" value="">
                    <div class="forgot">
                        <a rel="noopener noreferrer" href="#">Olvidaste tu contraseña ?</a>
                    </div>
                </div>

                <button class="sign">Iniciar sesión</button>

            </form>

            <p class="signup">
                No tienes una cuenta?
                <a rel="noopener noreferrer" href="/registro" class="">Regístrate</a>
            </p>

        </div>

    </div> 
<%- include('template/footer') %>