/* Listar Usuarios */
/* Usa el css base del formulario */
.container-listar-usuarios{
    padding: 10rem;
    display: flex;
    flex-wrap: wrap ;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}

.form-container-listar-usuarios {
    width: 400px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.usuario-container {
    padding: 10px;
}